<template>
  <div class="add container" :title="title">
  <h1 class="page-header">Get Your Offer</h1>
  <div id="titleType" class="panel panel-default pageSliderPanel slideWithButton panelNoBorder">
      <div class="panel-body custom-slide-panel-body">
      <td>
          <h4 class="panel-title slideTitleText ronniaFont">
              Your Information
          </h4>
      </td>
          <hr class="dotted_line_1  marginTopBottom20 marginBottom0" />
          <div class="well">
            <h4 :title="name">Name</h4>
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" placeholder="First Name" v-model="customer.first_name">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" placeholder="Last Name" v-model="customer.last_name">
            </div>
          </div>
          <div>
              <table class="tableWidth100Percent">
                  <tr>
                      <td class="hidden-xs navBackLinkTD">
                          <a class="navLinkClass navBackLinkClass" href="#">
                              <span class="icon-left-open-1 arrowIconButtonLeft"></span>
                              <router-link to="/" class="btn btn-primary">Back</router-link>
                          </a>
                      </td>
                      <td class="hidden-xs navNextLinkTD text-right">
                          <router-link to="/contact" class="btn btn-primary">Next</router-link>
                      </td>
                  </tr>
              </table>
          </div>
        </div>
        </div>
        </div>
</template>

<script>
export default {
  name: 'add',
  data () {
    return {
      customer: {
      },
      title: "You loaded this page on " + new Date(),
      name: "Tell us about who you are"
    }
  },
  methods: {
    addCustomer(e){
      e.preventDefault();
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
