<template>
<div class="add container" :title="title">
<h1 class="page-header">Get Your Offer</h1>
<div id="titleType" class="panel panel-default pageSliderPanel slideWithButton panelNoBorder">
    <div class="panel-body custom-slide-panel-body">
    <td>
        <h4 class="panel-title slideTitleText ronniaFont">
            Your Information
        </h4>
    </td>
        <hr class="dotted_line_1  marginTopBottom20 marginBottom0" />
        <div class="well">
          <h4 :title="flight">Flight Information</h4>
          <div class="form-group">
          <label for="select_airline">Airline</label>
          <div class="select-widget">
            <select name="select_airline" id="select_airline">
              <option selected="true" value="">Select Your Airline</option>
              <option class="" title="" value="A3">Aegean Airlines</option>
              <option class="" title="" value="RE">Aer Arann</option>
              <option class="" title="" value="EI">Aer Lingus</option>
              <option class="" title="" value="SU">Aeroflot</option>
              <option class="" title="" value="AR">Aerolineas Argentinas</option>
              <option class="" title="" value="AM">Aeromexico</option>
              <option class="" title="" value="VH">Aeropostal</option>
              <option class="" title="" value="AH">Air Algerie</option>
              <option class="" title="" value="BM">Air Bee</option>
              <option class="" title="" value="AB">Air Berlin</option>
              <option class="" title="" value="AC">Air Canada</option>
              <option class="" title="" value="CA">Air China</option>
              <option class="" title="" value="A7">Air Comet</option>
              <option class="" title="" value="XK">Air Corica</option>
              <option class="" title="" value="EN">Air Dolomiti</option>
              <option class="" title="" value="Z8">Air Enterprise</option>
              <option class="" title="" value="UX">Air Europa</option>
              <option class="" title="" value="PE">Air Europe</option>
              <option class="" title="" value="AF">Air France</option>
              <option class="" title="" value="AI">Air India</option>
              <option class="" title="" value="JM">Air Jamaica</option>
              <option class="" title="" value="KM">Air Malta</option>
              <option class="" title="" value="NZ">Air New Zealand</option>
              <option class="" title="" value="NH">Air Nippon</option>
              <option class="" title="" value="YW">Air Nostrum</option>
              <option class="" title="" value="AP">Air One</option>
              <option class="" title="" value="GZ">Air Rarotonga</option>
              <option class="" title="" value="VT">Air Tahiti</option>
              <option class="" title="" value="TN">Air Tahiti Nui</option>
              <option class="" title="" value="TS">Air Transat</option>
              <option class="" title="" value="A5">Airlinair</option>
              <option class="" title="" value="FL">AirTran</option>
              <option class="" title="" value="AS">Alaska Airlines</option>
              <option class="" title="" value="AZ">Alitalia</option>
              <option class="" title="" value="XM">Alitalia Express</option>
              <option class="" title="" value="G4">Allegiant Air</option>
              <option class="" title="" value="C4">Alma de Mexico</option>
              <option class="" title="" value="AQ">Aloha Airlines</option>
              <option class="" title="" value="E8">Alpi Eagles</option>
              <option class="" title="" value="AA">American Airlines</option>
              <option class="" title="" value="MQ">American Eagle</option>
              <option class="" title="" value="TZ">American Trans Air</option>
              <option class="" title="" value="R7">Aserca</option>
              <option class="" title="" value="OZ">Asiana Airlines</option>
              <option class="" title="" value="EV">Atlantic Southeast</option>
              <option class="" title="" value="AO">Australian Airlines</option>
              <option class="" title="" value="OS">Austrian Airlines</option>
              <option class="" title="" value="6A">Aviacsa</option>
              <option class="" title="" value="AV">Avianca</option>
              <option class="" title="" value="9V">Avior Airlines</option>
              <option class="" title="" value="UP">Bahamasair</option>
              <option class="" title="" value="LZ">Balkan Bulgarian</option>
              <option class="" title="" value="BV">Blue Panorama Airlines</option>
              <option class="" title="" value="DB">Brit Air</option>
              <option class="" title="" value="TH">British Air Citiexpress</option>
              <option class="" title="" value="BA">British Airways</option>
              <option class="" title="" value="BD">British Midland</option>
              <option class="" title="" value="SN">Brussels Airline</option>
              <option class="" title="" value="C6">Canjet Airlines</option>
              <option class="" title="" value="9K">Cape Air</option>
              <option class="" title="" value="BW">Caribbean Airlines</option>
              <option class="" title="" value="8B">Caribbean Star Airlines</option>
              <option class="" title="" value="ZQ">Caribbean Sun Airlines</option>
              <option class="" title="" value="CX">Cathay Pacific</option>
              <option class="" title="" value="KX">Cayman Airways</option>
              <option class="" title="" value="OP">Chalks Ocean Airways</option>
              <option class="" title="" value="MG">Champion Airlines</option>
              <option class="" title="" value="RP">Chautauqua Airlines</option>
              <option class="" title="" value="CI">China Airlines</option>
              <option class="" title="" value="MU">China Eastern</option>
              <option class="" title="" value="WX">City Jet</option>
              <option class="" title="" value="CJ">Cityflyer</option>
              <option class="" title="" value="OH">Comair</option>
              <option class="" title="" value="DE">Condor Airlines</option>
              <option class="" title="" value="CM">Copa Airlines</option>
              <option class="" title="" value="SS">Corsair</option>
              <option class="" title="" value="OU">Croatia Air</option>
              <option class="" title="" value="X5">Cronus Airlines</option>
              <option class="" title="" value="CR">Cruise</option>
              <option class="" title="" value="CU">Cubana Airlines</option>
              <option class="" title="" value="OK">Czech Airlines</option>
              <option class="" title="" value="DL">Delta Air Lines</option>
              <option class="" title="" value="AW">Dirgantara Air Service</option>
              <option class="" title="" value="9H">Dutch Antilles Express</option>
              <option class="" title="" value="2D">Dynamic Airways</option>
              <option class="" title="" value="U2">Easyjet Airlines</option>
              <option class="" title="" value="MS">EGYPTAIR</option>
              <option class="" title="" value="LY">El Al Israel Airlines</option>
              <option class="" title="" value="7Q">Elite Airways</option>
              <option class="" title="" value="A0">Elysair</option>
              <option class="" title="" value="EK">Emirates Airlines</option>
              <option class="" title="" value="ET">Ethiopian</option>
              <option class="" title="" value="EY">Etihad</option>
              <option class="" title="" value="GJ">Eurofly</option>
              <option class="" title="" value="9F">Eurostar</option>
              <option class="" title="" value="EW">Eurowings</option>
              <option class="" title="" value="BR">Eva Air</option>
              <option class="" title="" value="FJ">Fiji Airways</option>
              <option class="" title="" value="AY">Finnair Airlines</option>
              <option class="" title="" value="7F">First Air</option>
              <option class="" title="" value="F7">Flybaboo SA Geneve</option>
              <option class="" title="" value="BE">FLYBE Limited</option>
              <option class="" title="" value="F9">Frontier Airlines</option>
              <option class="" title="" value="1G">Galileo Computer Systems</option>
              <option class="" title="" value="4U">Germany Wings</option>
              <option class="" title="" value="GO">Go Airlines</option>
              <option class="" title="" value="G3">Gol Linhas Aereas</option>
              <option class="" title="" value="H1">Hahn Air</option>
              <option class="" title="" value="HA">Hawaiian Airlines</option>
              <option class="" title="" value="QX">Horizon Air</option>
              <option class="" title="" value="IB">Iberia</option>
              <option class="" title="" value="FI">Iceland Air</option>
              <option class="" title="" value="7I">INSEL AIR</option>
              <option class="" title="" value="JY">Intercaribbean Airways</option>
              <option class="" title="" value="4O">Interjet Airlines</option>
              <option class="" title="" value="IJT">Interjet Online Airlines</option>
              <option class="" title="" value="WP">Island Air</option>
              <option class="" title="" value="JL">Japan Airlines</option>
              <option class="" title="" value="JU">JAT Airlines</option>
              <option class="" title="" value="9W">Jet Airways</option>
              <option class="" title="" value="B6">Jet Blue</option>
              <option class="" title="" value="LS">Jet2.com</option>
              <option class="" title="" value="TB">Jetairfly/Tui Fly Belgium</option>
              <option class="" title="" value="JQ">Jetstar Airways</option>
              <option class="" title="" value="KL">KLM</option>
              <option class="" title="" value="UK">KLM UK</option>
              <option class="" title="" value="KE">Korean Air</option>
              <option class="" title="" value="KU">Kuwait Airways</option>
              <option class="" title="" value="B0">La Compagnie</option>
              <option class="" title="" value="LR">LACSA</option>
              <option class="" title="" value="N7">Lagun Air</option>
              <option class="" title="" value="LA">LAN Airlines</option>
              <option class="" title="" value="4M">Lan Argentina</option>
              <option class="" title="" value="LI">Liat</option>
              <option class="" title="" value="LM">Livingston Air</option>
              <option class="" title="" value="LO">Lot Polish</option>
              <option class="" title="" value="LT">LTU Intl Airways</option>
              <option class="" title="" value="LH">Lufthansa</option>
              <option class="" title="" value="CL">Lufthansa Cityline</option>
              <option class="" title="" value="LG">Luxair</option>
              <option class="" title="" value="UJ">Magnicharters</option><
              option class="" title="" value="MH">Malaysia Airlines</option>
              <option class="" title="" value="MA">Malev</option>
              <option class="" title="" value="MP">Martinair Holland</option>
              <option class="" title="" value="MY">Maxjet Airways</option>
              <option class="" title="" value="7M">MayAir</option>
              <option class="" title="" value="IG">Meridiana</option>
              <option class="" title="" value="YV">Mesa</option>
              <option class="" title="" value="XJ">Mesaba Airlines</option>
              <option class="" title="" value="YX">Midwest Express</option>
              <option class="" title="" value="MW">Mokulele Airlines</option>
              <option class="" title="" value="ZB">Monarch Airlines</option>
              <option class="" title="" value="5C">NatureAir</option>
              <option class="" title="" value="F8">New Leaf</option>
              <option class="" title="" value="ANA">Nippon Airlines</option>
              <option class="" title="" value="XW">NokScoot</option>
              <option class="" title="" value="DY">Norwegian Air Shuttle</option>
              <option class="" title="" value="OA">Olympic Air</option>
              <option class="" title="" value="EC">Open Skies</option>
              <option class="" title="" value="O7">Ozjet Airlines</option>
              <option class="" title="" value="8P">Pacific Coastal Airlines</option>
              <option class="" title="" value="LW">Pacific Wings</option>
              <option class="" title="" value="PR">Philippine Airlines</option>
              <option class="" title="" value="9E">Pinnacle Airlines</option>
              <option class="" title="" value="PD">Porter Airlines</option>
              <option class="" title="" value="NI">Portugalia</option>
              <option class="" title="" value="FV">Pulkovo Aviation</option>
              <option class="" title="" value="QF">Qantas</option>
              <option class="" title="" value="VM">Regional Airlines</option>
              <option class="" title="" value="YS">Regional CAE</option>
              <option class="" title="" value="ZL">Regional Express/Hazelton Airlines</option>
              <option class="" title="" value="AT">Royal Air Maroc</option>
              <option class="" title="" value="RJ">Royal Jordanian</option>
              <option class="" title="" value="RD">Ryan International Airlines</option>
              <option class="" title="" value="FR">Ryanair</option>
              <option class="" title="" value="RZ">Sansa</option>
              <option class="" title="" value="SK">SAS</option>
              <option class="" title="" value="SV">Saudi Airlines</option>
              <option class="" title="" value="BB">Seaborne Airlines</option>
              <option class="" title="" value="S5">Shuttle America</option>
              <option class="" title="" value="3M">Silver Airways</option>
              <option class="" title="" value="SQ">Singapore Airlines</option>
              <option class="" title="" value="GQ">Sky Express</option>
              <option class="" title="" value="5G">Sky Service Airline</option>
              <option class="" title="" value="OO">Skywest Airlines</option>
              <option class="" title="" value="QS">Smartwings</option>
              <option class="" title="" value="VL">SonicBlue Airways</option>
              <option class="" title="" value="SA">South African Airways</option>
              <option class="" title="" value="WN">Southwest Airlines</option>
              <option class="" title="" value="JK">Spanair</option>
              <option class="" title="" value="NK">Spirit Airlines</option>
              <option class="" title="" value="SY">Sun Country Airlines</option>
              <option class="" title="" value="WG">Sun Wing Airlines</option>
              <option class="" title="" value="PY">Suriname Airways</option>
              <option class="" title="" value="LX">Swiss International</option>
              <option class="" title="" value="SR">Swissair</option>
              <option class="" title="" value="TP">TAP Air Portugal</option>
              <option class="" title="" value="RO">Tarom Airlines</option>
              <option class="" title="" value="RU">TCI Skyking</option>
              <option class="" title="" value="TG">Thai Airways</option>
              <option class="" title="" value="MT">Thomas Cook Airlines</option>
              <option class="" title="" value="BY">Thompsonfly Limited</option>
              <option class="" title="" value="HV">Transavia</option>
              <option class="" title="" value="VW">Transportes Aeromar</option>
              <option class="" title="" value="TK">Turkish Airlines</option>
              <option class="" title="" value="PS">UKRAINE INTL AIRLINE</option>
              <option class="" title="" value="UA">United Airlines</option>
              <option class="" title="" value="US">US Airways</option>
              <option class="" title="" value="U5">USA 3000 Airlines</option>
              <option class="" title="" value="RG">Varig Airlines</option>
              <option class="" title="" value="VA">Viasa</option>
              <option class="" title="" value="VX">Virgin America</option>
              <option class="" title="" value="VS">Virgin Atlantic</option>
              <option class="" title="" value="DJ">Virgin Blue</option>
              <option class="" title="" value="TV">Virgin Express</option>
              <option class="" title="" value="VIV">Viva Aerobus Airlines</option>
              <option class="" title="" value="Y4">Volaris Airlines</option>
              <option class="" title="" value="V7">Volotea, S.L.</option>
              <option class="" title="" value="VY">Vueling</option>
              <option class="" title="" value="WS">WestJet Airlines</option>
              <option class="" title="" value="WM">Winair Airlines</option>
              <option class="" title="" value="VI">Wind Jet</option>
              <option class="" title="" value="IW">Wings Air</option>
              <option class="" title="" value="WW">Wow Airlines</option>
              <option class="" title="" value="SE">XL Airways France</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Flight Number</label>
            <input type="text" class="form-control" placeholder="Flight #" v-model="customer.flight">
          </div>
          <div class="form-group">
            <label>Pick-Up Date</label>
            <div data-selected-class="departure" id="pickup_date_widget" class="date-widget">
              <input autocomplete="off" name="pickupDateWidget" id="pickupDateWidget" maxlength="10" placeholder="mm/dd/yyyy" value="" type="text"/>
              </div>
            </div>
        </div>
        <div>
            <table class="tableWidth100Percent">
                <tr>
                    <td class="hidden-xs navBackLinkTD">
                        <a class="navLinkClass navBackLinkClass" href="#">
                            <span class="icon-left-open-1 arrowIconButtonLeft"></span>
                            <router-link to="/contact" class="btn btn-primary">Back</router-link>
                        </a>
                    </td>
                    <td class="hidden-xs navNextLinkTD text-right">
                      <span class="pull-right">
                        <router-link to="/address" class="btn btn-primary">Next</router-link>
                      </span>
                    </td>
                </tr>
            </table>
        </div>
      </div>
      </div>
      </div>
</template>

<script>
export default {
  name: 'add',
  data () {
    return {
      customer: {},
      title: "You loaded this page on " + new Date(),
      flight: "This will let drivers arrive at the right place and right time"
    }
  },
  methods: {
    addCustomer(e){
      e.preventDefault();
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
