<template>
<div class="add container" :title="title">
<h1 class="page-header">Get Your Offer</h1>
<div id="titleType" class="panel panel-default pageSliderPanel slideWithButton panelNoBorder">
    <div class="panel-body custom-slide-panel-body">
    <td>
        <h4 class="panel-title slideTitleText ronniaFont">
            Your Information
        </h4>
    </td>
        <hr class="dotted_line_1  marginTopBottom20 marginBottom0" />
        <div class="well">
          <h4 :title="address">Your Destination</h4>
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" placeholder="City" v-model="customer.city">
          </div>
          <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" placeholder="State" v-model="customer.state">
          </div>
          <div class="form-group">
            <label>Zip Code</label>
            <input type="text" class="form-control" placeholder="Zip Code" v-model="customer.zip">
          </div>
        </div>
        </div>
        <div>
            <table class="tableWidth100Percent">
                <tr>
                    <td class="hidden-xs navBackLinkTD">
                        <a class="navLinkClass navBackLinkClass" href="#">
                            <span class="icon-left-open-1 arrowIconButtonLeft"></span>
                            <router-link to="/address" class="btn btn-primary">Back</router-link>
                        </a>
                    </td>
                    <td class="hidden-xs navNextLinkTD">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>

                    </td>
                </tr>
            </table>
        </div>
      </div>
      </div>
      </div>
</template>

<script>
export default {
  name: 'add',
  data () {
    return {
      customer: {},
      title: "You loaded this page on " + new Date(),
      address: "We will be able to estimate the cost of this pick up"
    }
  },
  methods: {
    addCustomer(e){
      e.preventDefault();
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
