<template>
  <div class="homeContainer" :title="title">
    <div class="headerTagLine">
      <h5 class="text-center margin0">
        This is ChaseWay,
      </h5>
    </div>
    <h1 class="text-center ronniaFont">
    <strong>We pick you up</strong>
    </h1>
    <h5 class="text-center margin0">
      Excellent, Safe, Expedite
    </h5>
  <div class="container">
    <div class="col-md-12 text-center">
      <router-link to="/add" class="btn btn-primary">Get Your Offer</router-link>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
    <h2 class="h1 banner-top-title title-below-hr text-center sm specialFont"> ChaseWay Makes the Path to Your Dream Simple.</h2>
    </div>
  </div>
  <div class="city">
  </div>
  <hr class="home-hr">
  <div id="howItWorks" class="container">
    <h2 class="ronniaFont howItWorksTitleText">
      This is how we do it.
    </h2>
    <div class="row padding0">
      <div class="col-xs-10 col-sm-5 col-md-5 hidden-xs">
        <div class="timelineImageHeight ">
          <img id="browserIphone" src="//excelsior.com/ontario/wp-content/uploads/2016/10/wpcad01efd_05_06.jpg" data-original="//dgsecmg9973qw.cloudfront.net/seller/Images/home/BrowserIphone.png" class="img-responsive illustration illustrationLeft"
          alt="Iphone image">
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 hidden-xs">
        <div class="timeLineContainer timeLineContainerBorderUp">
          <div class="timelineImageHeight">
            <div class="blackRoundCircle">
              <div class="arrowImage">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-sm-5 col-md-5 smallScreenAlignment">
        <div class="timeLineContainer hidden-sm hidden-md hidden-lg timeLineContainerXsUp">
        </div>
        <div class="sectionStyle">
          <div class="blackRoundCircle hidden-sm hidden-md hidden-lg timelineXs">
            <div class="arrowImage">
            </div>
          </div>
          <table class="tableHeight100Percent">
            <tr>
              <td>
                <h3 class="ronniaFont titleStyle">
                  Tell us about yourself
                </h3>
                <p class="descriptionStyle">
                  Give us a basic rundown of your information. What's your name, age, your email, phone number (if available)? Which university are you going to be attending? Let us know your contact information so we can get back to you as soon as possible.
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row padding0">
      <div class="col-xs-10 col-sm-5 col-md-5 smallScreenAlignment">
        <div class="timeLineContainer hidden-sm hidden-md hidden-lg timeLineContainerXsRegular">
          </div>
        <div class="sectionStyle">
          <div class="yellowRoundCircle hidden-sm hidden-md hidden-lg timelineXs">
            <div class="dollarImage">
            </div>
          </div>
          <table class="tableHeight100Percent">
            <tr>
              <td>
                <h3 class="ronniaFont titleStyle">
                  Flight information
                </h3>
                <p class="descriptionStyle">
                  Your flight will tell us when and which terminal we should go to pick you up. This can help us arrange appropirate drivers and vehicles so that you can expect the most expedite and convenient services.
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 hidden-xs">
        <div class="timeLineContainer ">
          <div class="timelineImageHeight">
            <div class="yellowRoundCircle">
              <div class="dollarImage">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-sm-5 col-md-5 hidden-xs">
        <div class="timelineImageHeight ">
          <img id="offerCar" src="//static.tacdn.com/img2/flights/airlines/hero_images/_GenericHero_1168x606.jpg"  class="img-responsive illustration illustrationRight"
          alt="Car image">
        </div>
      </div>
    </div>
    <div class="row padding0">
      <div class="col-xs-10 col-sm-5 col-md-5 hidden-xs">
        <div class="timelineImageHeight ">
          <img id="carrier" src= "//aerocar.ca/wp-content/uploads/2016/02/home-banner2.jpg"  class="img-responsive illustration illustrationLeft"
          alt="Carrier image">
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 hidden-xs">
        <div class="timeLineContainer ">
          <div class="timelineImageHeight">
            <div class="redRoundCircle">
              <div class="eyeImage">
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xs-10 col-sm-5 col-md-5 smallScreenAlignment">
      <div class="timeLineContainer hidden-sm hidden-md hidden-lg timeLineContainerXsRegular">
      </div>
      <div class="sectionStyle">
        <div class="redRoundCircle hidden-sm hidden-md hidden-lg timelineXs">
          <div class="eyeImage">
          </div>
        </div>
        <table class="tableHeight100Percent">
          <tr>
            <td>
              <h3 class="ronniaFont titleStyle">
                We'll come to you
              </h3>
              <p class="descriptionStyle">
                Once we know all the information, we can set up the details about picking up, and get back to you by email or Wechat straight away. Check it out, accept it or deny it.
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row padding0">
    <div class="col-xs-10 col-sm-5 col-md-5 smallScreenAlignment">
      <div class="timeLineContainer hidden-sm hidden-md hidden-lg timeLineContainerXsDown">
      </div>
      <div class="sectionStyle">
        <div class="greenRoundCircle hidden-sm hidden-md hidden-lg timelineXs">
          <div class="dollarImage">
          </div>
        </div>
        <table class="tableHeight100Percent">
          <tr>
            <td>
              <h3 class="ronniaFont titleStyle">
                Pay on the spot
              </h3>
              <p class="descriptionStyle">
                Once you land at the airport, the driver will contact you at the first time. And you pay to the driver when you arrive at your destination.
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 hidden-xs">
      <div class="timeLineContainer timeLineContainerBorderDown">
        <div class="timelineImageHeight">
          <div class="greenRoundCircle">
            <div class="dollarImage">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-sm-5 col-md-5 hidden-xs">
        <div class="timelineImageHeight ">
          <img id="check" src="//www.newnorth.com/wp-content/uploads/2013/03/one-hundred-100-dollar-bill.jpg" class="img-responsive illustration illustrationRight checkImage"
          alt="Check image">
        </div>
      </div>
    </div>
    <div class="row again">
      <div class="col-sm-8 col-md-10 padding1">
        <div class="againText">
          Let's find out and get things done!
        </div>
      </div>
      <div class="col-sm-4 col-md-2 padding1">
        <router-link to="/add" class="btn custom-btn-lg-md-lg btn-block btn-warning againContainerBtn getAnOffer center-block">
          Get Started
        </router-link>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'about',
  data () {
    return {
      title: "You loaded this page on " + new Date()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.home-hr {
    background-color: rgba(0,0,0,0);
    background-image: url(//dgsecmg9973qw.cloudfront.net/junkmycar/Images/junk-my-hr.png);
    background-position: center center;
    border: 0 none!important;
    height: 24px;
    width: 100%;
    margin: 25px 0;
    background-repeat: no-repeat;
}

.city {
    background: url(//c1.staticflickr.com/8/7429/9496114032_e78e3b0680_b.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    background-color: transparent;
    height: 300px;
    margin: 0 auto;
    width: 100%;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

<!-- how we do it css -->

#howItWorks {
    overflow: hidden;
}
@media (min-width: 1200px)
bundles-css-hom…50j8WYQcZ3A1:1
.container {
    width: 1170px;
}
@media (min-width: 992px)
bundles-css-hom…50j8WYQcZ3A1:1
.container {
    width: 970px;
}
@media (min-width: 768px)
bundles-css-hom…50j8WYQcZ3A1:1
.container {
    width: 750px;
}
bundles-css-hom…50j8WYQcZ3A1:1
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.howItWorksTitleText {
    color: #4c4c4c;
    margin: 0 auto;
    text-align: center;
    padding: 55px 0 80px;
}
bundles-css-hom…50j8WYQcZ3A1:1
.ronniaFont {
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 700;
}
bundles-css-hom…50j8WYQcZ3A1:1
h2, .h2 {
    font-size: 36px;
}
bundles-css-hom…50j8WYQcZ3A1:1
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 18px;
    margin-bottom: 9px;
}
bundles-css-hom…50j8WYQcZ3A1:1
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.padding0 {
    padding: 0;
}
bundles-css-hom…50j8WYQcZ3A1:1
.row {
    margin-left: -15px;
    margin-right: -15px;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from body
bundles-css-hom…50j8WYQcZ3A1:1
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #333;
    background-color: #fff;
}

@media (min-width: 992px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-md-5 {
    width: 41.66666667%;
}
@media (min-width: 992px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
@media (min-width: 768px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-sm-5 {
    width: 41.66666667%;
}
@media (min-width: 768px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
bundles-css-hom…50j8WYQcZ3A1:1
.col-xs-10 {
    width: 83.33333333%;
}
bundles-css-hom…50j8WYQcZ3A1:1
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
bundles-css-hom…50j8WYQcZ3A1:1
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}







.timelineImageHeight {
    height: 434px;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.illustration {
    position: relative;
}
bundles-css-hom…50j8WYQcZ3A1:1
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

bundles-css-hom…50j8WYQcZ3A1:1
img {
    vertical-align: middle;
}
bundles-css-hom…50j8WYQcZ3A1:1
img {
    border: 0;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.timelineImageHeight {
    height: 434px;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 992px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-md-2 {
    width: 16.66666667%;
}
@media (min-width: 992px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
@media (min-width: 768px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-sm-2 {
    width: 16.66666667%;
}
@media (min-width: 768px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
bundles-css-hom…50j8WYQcZ3A1:1
.col-xs-2 {
    width: 16.66666667%;
}
bundles-css-hom…50j8WYQcZ3A1:1
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
bundles-css-hom…50j8WYQcZ3A1:1
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.timeLineContainerBorderUp {
    border-radius: 10px 10px 0 0;
}
bundles-css-hom…50j8WYQcZ3A1:1
.timeLineContainer {
    background: none repeat scroll 0 0 #e6e6e6;
    border: 1px solid #dbdbdb;
    border-radius: 0;
    margin: 0 auto;
    width: 10px;
    border-top-width: 0;
    border-bottom-width: 0;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.timelineImageHeight {
    height: 434px;
}

user agent stylesheet
div {
    display: block;
}
.timeLineContainerBorderUp {
    border-radius: 10px 10px 0 0;
}
bundles-css-hom…50j8WYQcZ3A1:1
.timeLineContainer {
    background: none repeat scroll 0 0 #e6e6e6;
    border: 1px solid #dbdbdb;
    border-radius: 0;
    margin: 0 auto;
    width: 10px;
    border-top-width: 0;
    border-bottom-width: 0;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blackRoundCircle {
    background: none repeat scroll 0 0 #4c4c4c;
    border: 3px solid #c3c3c3;
    border-radius: 25px;
    float: left;
    height: 50px;
    margin: 125px -21px;
    width: 50px;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.timelineImageHeight {
    height: 434px;
}

element.style {
}
@media (min-width: 992px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-md-5 {
    width: 41.66666667%;
}
@media (min-width: 992px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
@media (min-width: 768px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-sm-5 {
    width: 41.66666667%;
}
@media (min-width: 768px)
bundles-css-hom…50j8WYQcZ3A1:1
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
bundles-css-hom…50j8WYQcZ3A1:1
.col-xs-10 {
    width: 83.33333333%;
}
bundles-css-hom…50j8WYQcZ3A1:1
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
bundles-css-hom…50j8WYQcZ3A1:1
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.timeLineContainerXsUp {
    position: absolute;
    left: -10%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    border-bottom: 0 none;
}
bundles-css-hom…50j8WYQcZ3A1:1
.timeLineContainer {
    background: none repeat scroll 0 0 #e6e6e6;
    border: 1px solid #dbdbdb;
    border-radius: 0;
    margin: 0 auto;
    width: 10px;
    border-top-width: 0;
    border-bottom-width: 0;
}
@media (min-width: 1200px)
bundles-css-hom…50j8WYQcZ3A1:1
.hidden-lg {
    display: none!important;
}
.sectionStyle {
    height: 310px;
    width: 100%;
}
.timelineXs {
    position: absolute;
    margin-left: -20px;
    left: -10%;
    margin-top: 12px;
}
bundles-css-hom…50j8WYQcZ3A1:1
.blackRoundCircle {
    background: none repeat scroll 0 0 #4c4c4c;
    border: 3px solid #c3c3c3;
    border-radius: 25px;
    float: left;
    height: 50px;
    margin: 125px -21px;
    width: 50px;
}
.arrowImage {
    background-image: url(//dgsecmg9973qw.cloudfront.net/seller/Images/home/TimeLineIcon.png?v=1);
    background-position: 2px 2px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.tableHeight100Percent {
    height: 100%;
}
bundles-css-hom…50j8WYQcZ3A1:1
table {
    max-width: 100%;
    background-color: transparent;
}
bundles-css-hom…50j8WYQcZ3A1:1
table {
    border-collapse: collapse;
    border-spacing: 0;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.tableHeight100Percent {
    height: 100%;
}
bundles-css-hom…50j8WYQcZ3A1:1
table {
    max-width: 100%;
    background-color: transparent;
}
bundles-css-hom…50j8WYQcZ3A1:1
table {
    border-collapse: collapse;
    border-spacing: 0;
}
bundles-css-hom…50j8WYQcZ3A1:1
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.padding0 {
    padding: 0;
}
bundles-css-hom…50j8WYQcZ3A1:1
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.yellowRoundCircle {
    background: none repeat scroll 0 0 #edd06c;
    border: 3px solid #f8e295;
    border-radius: 25px;
    float: left;
    height: 50px;
    margin: 150px -21px;
    width: 50px;
}
.dollarImage {
    background-image: url(//dgsecmg9973qw.cloudfront.net/seller/Images/home/TimeLineIcon.png?v=1);
    background-position: -38px 1px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.timeLineContainer {
    background: none repeat scroll 0 0 #e6e6e6;
    border: 1px solid #dbdbdb;
    border-radius: 0;
    margin: 0 auto;
    width: 10px;
    border-top-width: 0;
    border-bottom-width: 0;
}
.timelineImageHeight {
    height: 434px;
}
.redRoundCircle {
    background: none repeat scroll 0 0 #f1575b;
    border: 3px solid #f7a6a9;
    border-radius: 25px;
    float: left;
    height: 50px;
    margin: 150px -21px;
    width: 50px;
}
.eyeImage {
    background-image: url(//dgsecmg9973qw.cloudfront.net/seller/Images/home/TimeLineIcon.png?v=1);
    background-position: -89px -1px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.greenRoundCircle {
    background: none repeat scroll 0 0 #b2cc71;
    border: 3px solid #d6e69f;
    border-radius: 25px;
    float: left;
    height: 50px;
    margin: 150px -21px;
    width: 50px;
}

.again {
    background: #f3f3f3;
    border-radius: 8px;
    margin: 0;
    margin: 0 0 85px;
    padding: 40px 40px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.againText {
    color: #4c4c4c;
    font-size: 18px;
    margin-left: -15px;
    padding: 30px 0;
}
</style>
