<template>
  <div class="about container" :title="title">
  <h1 class="page-header">About</h1>
  <h2>Goal of company</h2>
  <p>To build a platform to serve immigrant community. The mission of this platform is to help immigrants to adapt to society. The platform is an exclusively IT platform for many third-party business providers to provide service.</p>
  <h2>Milestones</h2>
  <ul>
    <li>Milestone one: Set up the platform that platform users can get access to three business providers, which would provide airport pick up service, bank account service and phone card service respectively.</li>

    <li>Milestone two: Invite more business providers to the platform. Such as: vehicle dealers, insurance dealers, real estate dealers, etc.</li>

    <li>Milestone three: Connect experienced professionals to help new immigrants to grow in their fields.</li>
  </ul>
  </div>
</template>

<script>
export default {
  name: 'about',
  data () {
    return {
      title: "You loaded this page on " + new Date()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
