<template>
  <div class="details container">
  <router-link to="/">Back</router-link>
  <h1 class="page-header">{{customer.first_name}} {{customer.last_name}}</h1>
      <span class="pull-right"><button class="btn btn-danger" v-on:click="deleteCustomer(customer.id)">Delete</button></span>
  <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{customer.phone}}</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{customer.email}}</li>
  </ul>

  <ul class="list-group">
      <li class="list-group-item">{{customer.address}}</li>
      <li class="list-group-item">{{customer.city}}</li>
      <li class="list-group-item">{{customer.state}}</li>
  </ul>
  </div>
</template>

<script>
export default {
  name: 'customerdetails',
  data () {
    return {
      customer: ''
    }
  },
  methods:{
    fetchCustomer(id){
      this.$http.get('http://slimapp/api/customer'+id)
      .then(function(response){
        this.customer = JSON.parse(response.body);
      });
    },
    deleteCustomer(id){
      this.$http.get('http://slimapp/api/customer/delete/'+id)
      .then(function(response){
        this.$router.push({path: '/', query: {alert: 'Customer Deleted'}});
    });
    }
  },
  created: function(){
    this.fetchCustomer(this.$route.params.id);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
