<template>
  <div class="customers container">
  <Alert message ="Customer Added" />
  <h1 class="page-header">Manage Customers</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr v-for="customer in customers">
      <td>{{customer.first_name}}</td>
      <td>{{customer.last_name}}</td>
      <td>{{customer.email}}</td>
      <td><router-link class="btn btn-default" v-bind:to="'/customer/' + customer.id">View</router-link></td>
    </tr>
  </tbody>
  </table>
  </div>
</template>

<script>
import Alert from './Alert';
export default {
  name: 'customers',
  data () {
    return {
      customers: []
    }
  },
  methods: {
  fetchCustomers(){
    this.$http.get('http://slimapp/api/customers')
      .then(function(response){
        this.customers=JSON.parse(response.body);
      });
      }
  },
  created: function(){
    if(this.$route.query.alert){
      this.alert = this.$route.query.alert;
    }
    this.fetchCustomers();
  },
  updated: function(){
    this.fetchCustomers();
  },
  components: {
    Alert
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
